* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar__pages {
  visibility: visible;
  height: auto;
  position: relative;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}
.radio__container {
  display: grid;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding: 24px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-image: url(../images/backg1.jpg);
}
.radio__titulo {
  display: flex;
  justify-content: center;
  color: rgb(235, 120, 54);
  font-size: 50px;
  padding-top: 80px;
}
.radio__subtitulo {
  display: flex;
  justify-content: center;
  color: rgb(240, 90, 253);
}
.radio__escuchar,
#escuchar {
  color: white;
}

header {
  background: linear-gradient(to right, #a23af8, #f088fa, rgb(0, 0, 0));
  padding: 0.5rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
a {
  text-decoration: none;
  list-style-type: none;
  margin-top: 1.1rem;
  margin-right: 1.2rem;
  text-align: center;
}
.navbar__pages {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding: 1.7rem;
  font-size: 1.2rem;
  margin-right: 1.2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
  }

  main {
    display: flex;
    align-items: center;
  }
  .navigation-button {
    display: block;
  }
}
.nav-toggle {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 0.25rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.55);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}
.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__item {
    margin: 0 0 0 1.5rem;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-box {
    margin-top: 0;
    text-align: right;
  }
  .display-2 {
    font-size: 3.4rem;
  }
  .display-2--description {
    font-size: 1rem;
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .display-2 {
    font-size: 4.5rem;
  }

  .display-2--description {
    font-size: 1.4rem;
    display: inline-block;
  }
  .nav__link--button {
    display: block;
  }
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
body {
  grid-area: body;
}
footer {
  grid-area: footer;
}
