.programas {
  height: 100vh;
  position: relative;

  .table {
    background-color: map-get($estilos, violetaClaro);
    color: map-get($estilos, tiza);
    text-align: map-get($estilos, centro);
  }

  td {
    height: 70px;
  }

  .img_programas {
    text-align: map-get($estilos, centro);

    img {
      border-radius: 100%;
      margin: 40px;
      @include tamaños(300px, 300px);

    }
  }
}