.vinos-y-bodegas {
  margin: 50px;
  .card-img-top {
    @include tamaños(200px, 200px);
    align-items: center;
  }
  .card {
    @include tamaños(250px, 300px);
    margin: 0 10px 20px;

    p {
      font-size: 0.5rem;
    }
  }
}
